

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-top: 7%;
}

.logout {
    height: 3vh;
    position: absolute;
    right: 40pt;
    top: 20pt;
}

.manage-users {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 5%;
}

.tagline {
    color: gray;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.users {
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid silver;
}

.user {
    width: 100%;
    border-top: 1px solid silver;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.user input {
    height: 4vh;
}

.user select {
    height: 4vh;
}

.update {
    padding: 12px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.update:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.newhead {
    margin-top: 3vh;
}

.new-user{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
}
.new-user input {
    height: 4vh;
}

.new-user select {
    height: 4vh;
}

.top-merchants {
    margin-left: 3%;
    width: 25%;
}

.merchants {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid silver;
    overflow-y: scroll;
}

.ranked-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid silver;
    width:100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.ranked-user h1 {
    color: white;
    background-color: black;
    padding: 12px;
}

.funds {
    position: absolute;
    right: 300pt;
    top: 20pt;
}

